<% title "Balance" %>

<p>Your balance: <%= raw format_money @bal %>

<p>
  All Balances
</p>

<table>
  <thead>
    <tr>
      <td>User</td>
      <td>Balance</td>
    </tr>
  </thead>
  <tbody>
    <% @balances.each do |balance|%>
    <tr>
      <td><%= balance.user.username%></td>
      <td><%= raw (format_money balance.amount) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

