.meta-inner {
  margin-left: 0px;
  padding-right: 21px;
  position: relative;
  padding-left: 0px;
}
.meta-default-text {
  color: #AAA;
  position: absolute;
  padding: 5px;
  width: 100%;
}
.meta-input {
  border: solid 1px;
  font-size: 14pt;
}
