body {
    /*  background-image: url(http://www.sustainablesonoma.org/pix/dot.gif);
  background-image: url(http://t2.gstatic.com/images?q=tbn:ANd9GcTd7TK6tfwGOPAreYphuyC6-Sr4lHfW9fAXzzKVby77fPO0-lqbog);
  background-image: url(http://t3.gstatic.com/images?q=tbn:ANd9GcQew5y7A9zCyRO-SOMJp6uliJh3JWfxtCjLF0-Lj1xCMZ4woxOF);*/
  /*http://t3.gstatic.com/images?q=tbn:ANd9GcSjr1FYgiIApI4b8E-qW2tPZYeDJkK6-apXZIpy0wtIcz1hdP2u*/
  background-image: url(images/winter.jpg);


/*  background-image: url(http://t3.gstatic.com/images?q=tbn:ANd9GcSgN4vWXvWYlrSQNsl0MlbxnXXebPDTnGEQ_ppURjiu-TrU_Ltt);*/


/*  background-color: #4B7399;*/
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;

}

h1 {
  color: #98BF21;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  max-width: 950px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  background-color: #FFF;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#header {
/*background-color: #333;*/
background-repeat: no-repeat;
padding-bottom: 10px;
border-width: 1px;
border-bottom-style: dashed;
border-color: #98BF21;


}
#sitetitle {
font-size: 25px;
color: #FF8C00;
}
#beta{
  margin-left: -5px;
  margin-top: -30px;
  
}
#beta_tag {
  color: white;
  background-color: #A7C941;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;

}

/* #sitetitle { */
/* font-size: 50px; */

/* color: #559D55; */
/* } */
#welcome {
float: right;
}

#info_panel{
float: right;
clear: right;
margin-right: 10px;
}
#info_panel .shadowbox{
  background-color: #FF8000;
padding: 5px;
}

#content {
clear: left;
min-width: 350px;
min-height:500px; /* for modern browsers */
height:auto !important; /* for modern browsers */
margin-top:40px;
margin-left: 10px;
margin-right: 200px;
/*margin-left: 220px;*/
}
#navigation {
border-width: 1px;
border-style: none;
border-color: #98BF21;
height: 30px;
margin-top: -10px;
}
.shadowbox{
box-shadow: 10px 10px 5px #888;
-moz-box-shadow:    10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
}
.roundbox{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
#navigation .shadowbox{
float: left;
background-color: #FF6600;
}
#navigation a{
  color: white;
}
#tiny_dashboard{
float: right;
margin-top: 10px;
margin-left: 20px;
margin-right: 20px;

}
#tiny_dashboard ul{
padding-left: 5px;
margin-top: 0px;
margin: 0px;
}
#tiny_dashboard li{
list-style: none;
font-weight: bold;
}

#navigation_menu {
  list-style: none;
  padding-left: 5px;
  margin: 5px 5px 8px 5px;
}
#navigation_menu li{
  display: inline;
  margin-right: 10px;
  padding: 0px;
  font-size: 22px;
}
#navigation_menu li a{
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
}
#navigation_menu li a:hover{
  background: transparent;
  color: #A7C941;
}
/*
li.activities {
  background: url(images/bowl.png) no-repeat left center;
}
li.messages{
  background: url(images/message.png) no-repeat left center;
}
li.balances{
  background: url(images/balance.png) no-repeat left center;
}
*/
#advertise
{
  text-align: center;
}
#footer {
  height:50px;
  margin-top:10px;
  clear: both;
  border-top-style: dashed ;
  border-width: 1px;
  border-color: #DDD;
}


label {
font-weight: bold;
}

.label {
font-weight: bold;
width: 250px;
}

/* for tables */

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  text-align: center;
}

th {
  font-size: 1.4em;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #FF8C00;
  color: white;
}

td, th {
  border: 1px solid #FF8C00;
  padding: 3px 7px 2px 7px;
  border-image: initial;
}

tr.alt td {
  color: black;
  background-color: #EAF2D3;
}
