#sitetitle {
font-size: 50px;
color: #559D55;
}

body {
    /*  background-image: url(http://www.sustainablesonoma.org/pix/dot.gif);
  background-image: url(http://t2.gstatic.com/images?q=tbn:ANd9GcTd7TK6tfwGOPAreYphuyC6-Sr4lHfW9fAXzzKVby77fPO0-lqbog);
  background-image: url(http://t3.gstatic.com/images?q=tbn:ANd9GcQew5y7A9zCyRO-SOMJp6uliJh3JWfxtCjLF0-Lj1xCMZ4woxOF);*/
  /*http://t3.gstatic.com/images?q=tbn:ANd9GcSjr1FYgiIApI4b8E-qW2tPZYeDJkK6-apXZIpy0wtIcz1hdP2u*/
  background-image: url(images/winter.jpg);


/*  background-image: url(http://t3.gstatic.com/images?q=tbn:ANd9GcSgN4vWXvWYlrSQNsl0MlbxnXXebPDTnGEQ_ppURjiu-TrU_Ltt);*/


/*  background-color: #4B7399;*/
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;

}

h1 {
  color: #98BF21;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#header {
/*background-color: #333;*/
background-repeat: no-repeat;
padding-bottom: 10px;
border-width: 1px;
border-bottom-style: dashed;
border-color: #98BF21;


}
/* #sitetitle { */
/* font-size: 50px; */

/* color: #559D55; */
/* } */
#welcome {
float: right;
}

#content {

min-width: 750px;
min-height:500px; /* for modern browsers */
height:auto !important; /* for modern browsers */
height:500px; /* for IE5.x and IE6 */
margin-top:20px;
margin-left:250px;
margin-right: 20px;
/*margin-left: 220px;*/
}
#navigation {
background-color: #F4F4F4;
width:230px;
min-height:500px; /* for modern browsers */
height:auto !important; /* for modern browsers */
float:left;
border-width: 1px;
border-right-style: dashed;
border-color: #98BF21;
}
#tiny_dashboard{
margin-top: 10px;
margin-left: 20px;
margin-right: 20px;

}
#tiny_dashboard ul{
padding-left: 5px;
}
#tiny_dashboard li{
list-style: none;
font-weight: bold;
}

#navigation_menu {
  list-style: none;
  padding-left: 20px;
}
#navigation_menu li{
  padding-left: 30px;
  margin-top: 20px;
}
#navigation_menu li a{
  vertical-align: middle;
  font-size: 14px;
}
li.activities {
  background: url(images/bowl.png) no-repeat left center;
}
li.messages{
  background: url(images/message.png) no-repeat left center;
}
li.balances{
  background: url(images/balance.png) no-repeat left center;
}

#advertise
{
  margin-top: 30px;
  text-align: center;
}
#footer {
  height:50px;
  margin-top:10px;
  clear: both;
  border-top-style: dashed ;
  border-width: 1px;
  border-color: #DDD;
}


label {
font-weight: bold;
}

.label {
font-weight: bold;
width: 250px;
}
