<style>
    .message_filter {
        float: right;
    }
</style>

<script lang="javascript">
	function checkall() {
		$("#message input[type=checkbox]").attr("checked", true);	
	}
	function checknone() {
		$("#message input[type=checkbox]").attr("checked", false);	
	}
</script>


<h1>Listing messages</h1>

<%= link_to 'New Message', new_message_path %>

 <div id="messages_header" class="message_header">
     <span class="select_all_nonei_label"> Select: 
         <a href="#" onclick="checkall()">All</a>,
         <a href="#" onclick="checknone()">None</a>,
         <a href="#">Read</a>,
         <a href="#">Unread</a>
         <input type="button" name="delete" value="Delete">
     </span>
     <div id="message_filter" class="message_filter">
         <span class="filter_label">Show </span>
         <a> All </a>
         <a> Unread </a>
     </div>
 </div>

 <div id="message_list">
     <table border="0">
	 <tr><th><input type="checkbox" unchecked/></th><th>Title</th><th>Updated at</th></tr>
    	 <% @threads.each do |thread| %>
             <tr class="<%= thread.status %>" >
                 <td class="checkbox"><input type="checkbox" name="some_name" value="" unchecked></td>
		 <td class="title"> <%= link_to thread.title, :action => "show", :controller => "thread", :id => thread %> </td>
		 <td class="datetime"> <%= thread.updated_at %></td>
             </tr>
         <% end %>
     </table>
 </div>
<br />

