<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @user.username %></h1>
    <p>
      You have a new activity waiting for your confirmation: <a href="<%= APP_CONFIG['site']+url_for(@activity) %>"> <%=@activity.subject%> </a>
    </p>
  </body>
</html>
