<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>hi, <%= @user.name %></h1>
    <p>
      You have a new activity to confirm <%= url_for(@activity, :host => $host) %>
    </p>
  </body>
</html>
