<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @user.username %></h1>
    <p>
    <%= inviter.username %> <%= t("mail.content.fantuan_invitation") %> <%= @fantuan.name %>
    </p>
  </body>
</html>
