
<% title "My Activities" %>
<div class='action_link'><%= link_to "New Activity", new_activity_path, :class=>'new_action_link' %></div>

<div style="margin-top: 40px">
  <%= render :partial => "activities", :locals => {:activities => @activities} %>
</div>

<%= link_to "Show all activities", activities_path(:all => true), {:class => "fr"}%>




